*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

header {
    height: 74px;
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    width: 40%;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nav__logo-img {
    width: 186px;
    height: 48px;
    cursor: pointer;
}

.nav__bar {
    display: flex;
    height: 100%;
    flex: 2.5;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__hamburger {
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger__wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger__wrapper:hover .hamburger__bar {
    background-color: #6db33f;
}

.hamburger__bar {
    width: 19px;
    height: 3px;
    background: #191e1e;
    margin: 0 0 3px;
    transition: .2s all;
}

.dropdown__list{
    list-style: none;
}

.dropdown,
.nav__link
{
    float: left;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.dropdown {
    margin-right: 60px;
    cursor: default;
}

.nav__link {
    cursor: pointer;
    transition: .2s color;
    margin-right: 50px;
}

.nav__link:hover,
.dropdown__item--link:hover {
    color: #6db33f
}

.dropdown::after {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    border-style: solid;
    border-color: rgb(53, 52, 52);
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);   
    top: 30%;
    left: 110%
}

.dropdown__header--first:hover + .dropdown__content--first {
    display: block;
}

.dropdown__header--second:hover + .dropdown__content--second {
    display: block;
}

.dropdown__header--third:hover + .dropdown__content--third {
    display: block;
}

.dropdown__header--fourth:hover + .dropdown__content--fourth {
    display: block;
}

.dropdown__content {
    position: absolute;
    z-index: 100;
    font-weight: 500;
    top: 49px;
    width: 180px;
    padding: 32px 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0px rgb(190, 190, 190);
    transition: .3s all;
}

.dropdown__content--first,
.dropdown__content--second,
.dropdown__content--third,
.dropdown__content--fourth {
    display: none;
}

.dropdown__item--link {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    float: left;
    transition: .2s color;
}

.dropdown__item--link:not(:last-child) {
    margin-bottom: 10px;
    width: 100%;
}

@media(max-width: 1200px) {
    nav {
        width: 95%;
    }

    .nav__logo {
        justify-content: flex-start;
    }
}

@media(max-width: 1145px) {
    .nav__logo-img {
        width: 117px;
        height: 30px;
    }

    .nav__bar {
        flex: 4.5;
    }
}

@media(max-width: 1000px) {
    .dropdown {
        margin-right: 40px;
    }
    
    .nav__bar a {
        margin-right: 30px;
    }
}

@media(max-width: 900px) {
    header {
        height: 50px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
    }

    .nav__bar {
        display: none;
    }

    .nav__hamburger {
        display: flex;
    }
}