main {
    position: relative;
}

.main__hero {
    padding: 90px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero__container {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.hero__container h1,
.hero__container p{
    font-family: 'Muli', sans-serif;
    text-align: left;
}

.hero__container h1 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 25px;
}

.hero__container p {
    font-weight: 300;
    font-size: 25px;
    line-height: 1.8;
}

.main__content {
    background-color: #ebf2f2;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.content__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.content__items {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 40px;
}

.content__item {
    height: 260px;
    width: 450px;
    background-color: #fff;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 5px;
    transition: .2s all;
    padding: 40px 30px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin: 0 0 40px 40px;
}

.content__item:hover {
    box-shadow: 1px 9px 15px -5px rgba(0,0,0,0.32);
    transform: translateY(-8px);
}

.item__icon {
    width: 25%;
    height: 100%;
    float: left;
}

.item__icon img {
    width: 60%;
    margin-top: 10px;
}

.item__description {
    width: 75%;
    height: 100%;
    float: left;
}

.item__description h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.item__description p {
    line-height: 1.8;
}

@media(max-width: 1300px) {
    .hero__container {
        flex-basis: 90%;
    }
}

@media(max-width: 1000px) {
    .content__wrapper {
        justify-content: center;
    }

    .content__items {
        width: 95%;
        margin: 0;
    }

    .content__item:not(:last-child) {
        margin-left: 0;
    }

    .hero__container {
        flex-basis: 95%;
    }
}

@media(max-width: 800px) {
    .content__wrapper {
        flex-direction: row;
    }

    .content__items {
        flex-direction: column;
    }

    .content__item {
        width: 100%;
        margin-left: 0;
        height: 80%;
    }

    .item__icon {
        width: 20%;
    }
}