@import '../../../../../config/variables';

.search__item--link {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: $black;
    transition: .3s background-color;
    &:not(:last-child) {
        border-bottom: 1px solid rgb(148, 148, 148)
    }
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.search__item {
    & p {
        margin: 0;
    }
}